@use '../config/mixins';

.archive {
  @include mixins.container;

  & {
    display: block;
    margin: 0 auto;
    background-color: var(--color-light);
  }

  &.archive--front {
    padding-top: 1rem;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}