@use '../config/mixins';

.archive {
  @include mixins.container;

  & {
    display: block;
    margin: 0 auto;
  }

  &.archive--front {
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
  }
}