@use '../config/mixins';

.footer {
  @include mixins.container;

  & {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 1.25rem;
    margin: 0 auto;

    text-align: right;
    font-size: 0.75rem;
    color: var(--color-primary);
  }
}
