@use '../config/mixins';

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 1rem;

  .is-front & {
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  }

  &.list--loading {
    .card:not(.card--skeleton) {
      display: none;
    }
  }

  .list__empty {
    grid-column: 1 / -1;
    padding: 2rem 1rem;
    margin: 0;
    text-align: center;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.65);
  }
}
