@use '../config/mixins';

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 1rem;

  .is-front & {
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  }

  &.list--loading {
    .card:not(.card--skeleton) {
      display: none;
    }
  }
}
