@use '../config/mixins';

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 1rem;

  .is-front & {
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  }

  .list__empty {
    grid-column: 1 / -1;
    min-height: 50vh;
    padding: 3rem 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .list__empty-title {
      display: block;

      margin: 0 0 0.25rem;
      font-size: 1.75rem;
      font-weight: 200;

      color: var(--color-primary);
    }

    .list__empty-subtitle {
      display: block;

      max-width: 32rem;
      margin: 0;
      font-size: 0.9375rem;
      line-height: 1.5;

      color: var(--color-addition);
    }
  }
}
