@use '../config/mixins' as mixins;

.map {
  flex: 1 1 auto;
  display: block;
  position: relative;
  overflow: hidden;
  min-height: 20rem;

  border-radius: var(--radius-frame);
  border: 0.0625rem solid var(--color-border);

  .map__canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-background);
  }

  .map__zoom {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .map__zoom-button {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 1.75rem;
      height: 1.75rem;

      font-size: 1.125rem;
      line-height: 1;

      background: var(--color-dark);
      color: var(--color-primary);

      border: 0;
      border-radius: var(--radius-frame);

      cursor: pointer;

      &:hover {
        background: var(--color-secondary);
        color: var(--color-light);
      }
    }
  }

  .map__pin {
    display: block;

    width: 2.5rem;
    height: 2.5rem;

    background: var(--gradient-pin);

    transform: translate(-1.25rem, -1.25rem);
    cursor: pointer;

    &.map__pin--active {
      background: var(--gradient-active);
    }
  }

  .mapboxgl-ctrl-logo {
    opacity: 0.5;
    transition: opacity 0.375s;
  }

  .mapboxgl-ctrl-logo:hover {
    opacity: 1;
  }
}
