.navigate {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  padding: 0 1rem 1.25rem;

  @media screen and (max-width: 767px) {
    margin-top: 1rem;
  }
}

.navigate__button {
  display: block;
  position: relative;

  width: 100%;
  padding: 1rem 2rem;
  text-align: center;

  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;

  color: var(--color-meta);
  background-color: var(--color-secondary);

  border-radius: 0.25rem;

  transition: filter 0.25s;

  &:hover {
    filter: brightness(90%);
  }

  @media screen and (max-width: 767px) {
    font-size: 1.375rem;
  }
}
