@use '../config/mixins';

.post {
  display: block;
  position: relative;

  width: 100%;
  margin: 0 auto;
  padding-top: 1rem;

  body.is-quiz & {
    max-width: var(--width-narrow);
    margin-top: 1rem;
    margin-bottom: 2.25rem;

    padding-top: 0;
    overflow: hidden;
    border-radius: var(--radius-frame);
  }

  body.is-cards & {
    max-width: var(--width-content);
    margin-top: 1rem;
    margin-bottom: 2.25rem;

    padding-top: 0;
    background-color: transparent;
  }
}

