.search {
  display: flex;
  flex-flow: column nowrap;
  position: relative;

  width: 100%;
  max-width: calc(var(--width-content) + 2rem);
  margin: 0 auto;
  padding: 1rem 1rem 2rem;

  font-family: var(--font-regular);
  line-height: 1.5;

  @media screen and (max-width: 767px) {
    padding: 0 1rem 1rem;
  }

  .is-empty & {
    min-height: calc(100vh - 24rem);
  }

  .search__wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    gap: 0.25rem;

    width: 100%;
    margin-top: 1rem;
    padding-top: 1rem;

    border-top: solid 0.0625rem var(--color-border);

    @media screen and (max-width: 767px) {
      flex-flow: column nowrap;
    }
  }

  .search__input {
    display: block;
    flex: 1;
    padding: 0.75rem 1rem;

    font-size: 1.5rem;
    font-family: var(--font-regular);
    line-height: 1.125;

    border: solid 0.0625rem var(--color-dark);
    border-radius: 0.25rem;

    outline: none;

    @media screen and (max-width: 767px) {
      width: 100%;
      padding: 0.625rem 1rem;
      font-size: 1.125rem;
    }
  }

  .search__button {
    display: block;
    flex: 0 0 9rem;
    padding: 0.75rem 1rem;

    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--font-regular);
    line-height: 1.125;

    color: var(--color-light);
    background-color: var(--color-accent);

    border: solid 0.0625rem var(--color-accent);
    border-radius: 0.25rem;

    transition: filter 0.25s;

    &:hover {
      filter: brightness(110%);
    }

    @media screen and (max-width: 767px) {
      flex: auto;
      width: 100%;
      padding: 0.625rem 1rem;
      font-size: 1.125rem;
    }
  }

  .search__message {
    display: block;
    position: relative;

    padding: 2rem 0;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 700;
  }
}
