@font-face {
  font-family: 'Inter Variable';
  src: url('fonts/inter-latin-wght-normal.woff2') format('woff2-variations');
  font-weight: 200 600;
  font-style: normal;
  font-display: fallback;
  unicode-range: U+0000-00FF;
}