@mixin full-size($zindex: 2) {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $zindex;

  width: 100%;
  height: 100%;
}

@mixin full-after($zindex: 2) {
  &::after {
    content: "";

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: $zindex;

    width: 100%;
    height: 100%;
  }
}

@mixin container {
  width: calc(100% - 1rem * 2);
  max-width: var(--width-site);
}

@mixin cross-button($width, $height: 0.125rem, $color: --color-dark) {
  width: $width;
  height: $width;

  &:after,
  &:before {
    content: "";
    position: absolute;
    top: calc(50% - $height / 2);
    left: calc(50% - $width / 2);

    height: $height;
    width: $width;

    background-color: var($color);
  }

  &:after {
    transform: rotate(-45deg);
  }

  &:before {
    transform: rotate(45deg);
  }
}

@mixin meta-head {
  display: flex;
  flex-flow: row wrap;
  gap: 0 0.125rem;

  hr {
    display: block;
    flex: 0 0 100%;
    margin: 0.0625rem 0;
    padding: 0;

    background: none;
    border: 0;
  }
}

@mixin entry-border($margin: 1rem) {
  content: '';

  display: block;
  width: 37.125rem;
  max-width: 100%;
  margin-top: $margin;

  border-bottom: solid 0.0625rem var(--color-border);
}

@mixin default-link {
  color: var(--color-links);
  border-bottom: solid 0.0625rem transparent;
  transition: border-color 0.25s ease-in-out;

  &:hover {
    border-bottom-color: var(--color-links);
  }

  &:focus-visible {
    border-radius: 0.25rem;
  }

  &:focus-visible:hover {
    border-bottom-color: transparent;
  }
}
