:root {
  --width-site: 90rem;
  --radius-frame: 0.5rem;

  --color-primary: #b6b8be;
  --color-secondary: #7170ff;
  --color-background: #000;
  --color-sheet: rgba(20, 20, 20, 0.75);
  --color-button: #2c2c2c;
  --color-border: #222;

  --color-dark: #000;
  --color-light: #f7f8f8;

  --shadow-light: rgba(255, 255, 255, 0.25);

  --gradient-card: linear-gradient(-180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%);
  --gradient-pin: radial-gradient(circle at 50% 50%, #000 0 0.1875rem, transparent 0.1875rem),
  radial-gradient(circle at 50% 50%, var(--color-secondary) 0 0.375rem, transparent 0.375rem),
  radial-gradient(circle at 50% 50%, color-mix(in srgb, var(--color-secondary) 28%, transparent) 0 0.625rem, transparent 0.625rem);

  --font-regular: "Inter", sans-serif;
  --font-monospace: "Monaco", "Roboto Mono", "Courier", monospace;
}
