:root {
  --width-site: 67rem;
  --width-content: 42.625rem;
  --width-narrow: 35.5rem;

  --radius-frame: 0.25rem;

  --color-primary: #1d218c;
  --color-secondary: #eeff01;
  --color-accent: #ff5741;
  --color-background: #efeded;
  --color-quote: #F6F5F1;
  --color-disclaimer: #8C8C8C;
  --color-additional: #FEF4E4;
  --color-promo: #BFFB4F;
  --color-chat-left: #E4F5FC;
  --color-chat-right: #FEF4E4;

  --color-dark: #000;
  --color-light: #fff;

  --color-border: #d8dae2;
  --color-meta: #111;
  --color-transparent: #ffff;

  --font-regular: "Struve", sans-serif;
  --font-content: "Booklet Serif", serif;
  --font-monospace: "Monaco", "Roboto Mono", "Courier", monospace;
}
