.wp-block-heading {
  margin: 2.5rem 0;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-primary);

  &:first-child {
    margin-top: 0;
  }

  strong {
    font-weight: inherit;
  }

  @media screen and (max-width: 1023px) {
    margin: 2rem 0;
  }

  @media screen and (max-width: 1023px) {
    margin: 1.75rem 0;
  }
}

h2.wp-block-heading {
  font-size: 2.5rem;
  font-weight: 200;
  line-height: 1.075;

  @media screen and (max-width: 1023px) {
    font-size: 2.25rem;
  }

  @media screen and (max-width: 767px) {
    font-size: 2rem;
  }
}

h3.wp-block-heading {
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.125;

  @media screen and (max-width: 1023px) {
    font-size: 1.5rem;
  }

  @media screen and (max-width: 767px) {
    font-size: 1.375rem;
  }
}

h4.wp-block-heading {
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 1.25;

  @media screen and (max-width: 1023px) {
    font-size: 1.25rem;
  }

  @media screen and (max-width: 767px) {
    font-size: 1.125rem;
  }
}

h5.wp-block-heading {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;

  @media screen and (max-width: 1023px) {
    font-size: 1.125rem;
  }

  @media screen and (max-width: 767px) {
    font-size: 1rem;
  }
}

h6.wp-block-heading {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
}