@use '../config/mixins' as mixins;

.frame-events {
  display: flex;
  justify-content: center;
  position: relative;

  margin: 0 auto;
  padding-bottom: 2.25rem;

  .frame-events__wrapper {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;

    position: relative;
    max-width: 53.875rem;
    padding: 0 1rem;
    text-align: center;
    color: var(--color-dark);
  }

  .frame-events__items {
    display: block;

    font-size: 2.25rem;
    line-height: 1.175;

    strong {
      font-weight: 700;
    }

    @media screen and (max-width: 1023px) {
      font-size: 1.75rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.5rem;
      line-height: 1.25;
    }

    @media screen and (max-width: 479px) {
      font-size: 1.25rem;
    }
  }

  .frame-events__link {
    display: inline;
    font-weight: 700;

    border-bottom: solid 0.0625rem;

    &:hover {
      border-bottom-color: transparent;
      transition: border 0.25s;
    }
  }

  .frame-events__more {
    display: block;
    align-self: center;

    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1;

    border-bottom: solid 0.0625rem;

    &:hover {
      transition: border 0.25s;
      border-bottom-color: transparent;
    }

    @media screen and (max-width: 767px) {
      font-size: 1rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 0.875rem;
    }
  }
}
