@use '../config/mixins' as mixins;

.frame-news {
  display: block;
  position: relative;

  margin: 0 auto;
  padding-bottom: 2.25rem;

  .frame-news__wrapper {
    position: relative;
    color: var(--color-dark);
  }

  .frame-news__heading {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem 0.75rem;

    border-bottom: solid 0.0625rem var(--color-border);

    @media screen and (max-width: 479px) {
      align-items: flex-start;
      gap: 0;
      flex-flow: column nowrap;
    }
  }

  .frame-news__caption {
    display: block;

    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.175;

    @media screen and (max-width: 767px) {
      font-size: 2rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 1.75rem;
    }
  }

  .frame-news__more {
    display: block;
    margin-top: 0.5rem;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1;

    border-bottom: solid 0.0625rem;

    &:hover {
      transition: border 0.25s;
      border-bottom-color: transparent;
    }

    @media screen and (max-width: 767px) {
      font-size: 1rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 0.875rem;
    }
  }

  .frame-news__items {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    padding: 1rem 1rem 0;
  }

  .frame-news__content {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    position: relative;

    @media screen and (max-width: 767px) {
      flex-flow: column nowrap;
    }
  }

  .frame-news__transfer {
    display: inline;
  }

  .frame-news__link {
    display: inline;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.175;
    word-break: break-word;

    @media screen and (max-width: 767px) {
      font-size: 1.25rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 1.125rem;
      line-height: 1.25;
    }
  }

  .frame-news__date {
    display: block;
    cursor: default;
    padding-top: 0.375rem;

    font-size: 0.75rem;
  }

  .frame-news__source {
    display: inline;
    white-space: nowrap;
    margin-left: 0.5rem;
    vertical-align: text-bottom;
  }
}
