@use '../config/mixins' as mixins;

.frame-similar {
  display: block;
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: var(--color-additional);

  border-radius: var(--radius-frame);
  transition: filter 0.25s;

  &:hover {
    filter: brightness(95%);
  }

  .frame-similar__caption {
    display: block;

    width: 100%;
    max-width: 37.5rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;

    font-size: 1.25;
    font-family: var(--font-regular);
    font-weight: 700;
    line-height: 1.25rem;

    border-bottom: solid 0.0625rem var(--color-dark);
  }

  .frame-similar__content {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;

    @media screen and (max-width: 767px) {
      flex-flow: column nowrap;
    }
  }

  .frame-similar__image {
    flex: 0 0 10rem;
    margin-top: 0.25rem;
    overflow: hidden;
    border-radius: var(--radius-frame);

    @media screen and (max-width: 767px) {
      flex: 0 0 16rem;
    }

    @media screen and (max-width: 479px) {
      flex: 0 0 12rem;
    }
  }

  .frame-similar__image-thumbnail {
    object-fit: cover;
    height: 100%;
  }

  .frame-similar__inner {
    display: block;
    flex: 1 1 auto;

    color: var(--color-dark);
    font-family: var(--font-regular);
  }

  .frame-similar__title {
    display: block;
    margin: 0 0 0.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.25;

    color: var(--color-dark);
    border-bottom: 0;

    @include mixins.full-after(1);
  }

  .frame-similar__excerpt {
    display: block;
    font-size: 0.875rem;
    line-height: 1.25;
  }
}
