@use 'config';
@use 'basic';
@use 'layout';
@use 'blocks';

html {
  color: var(--color-primary);
  background-color: var(--color-background);
  font-size: 100%;
}

body {
  display: block;

  line-height: 1.5;
  font-size: 1rem;
  font-weight: normal;
  font-family: var(--font-regular);
  font-feature-settings: 'cv11' on, 'cv05' on, 'cv01' on, 'cv09' on, 'dlig' on;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;

  &.is-adminbar {
    padding-top: 32px;

    @media screen and (max-width: 782px) {
      padding-top: 46px;
    }
  }
}

::placeholder {
  color: grey;
}

::selection {
  color: var(--color-dark);
  background-color: var(--color-primary);
}

:focus-visible {
  outline-style: solid;
  outline-color: var(--color-secondary);
  outline-width: 0.125rem;
}
