@use '../config/mixins' as mixins;

.entry-header {
  display: block;

  width: 100%;
  padding: 1rem 2rem 1.25rem;
  border-top: solid 0.0625rem var(--color-border);

  body.is-page & {
    border-top: 0;
  }

  body.is-wide & {
    border-top: 0;

    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem 1.25rem;
    max-width: var(--width-site);
  }

  body.is-cards & {
    background-color: var(--color-light);
    border-top: 0;
    border-radius: var(--radius-frame);
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 767px) {
    padding: 1rem 1rem 1.25rem;
  }

  & > * {
    max-width: var(--width-content);
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 1023px) {
      width: 100%;
    }
  }

  .entry-header__meta {
    @include mixins.meta-head;
  }

  .entry-header__date {
    .is-promo & {
      display: none;
    }
  }

  .entry-header__title {
    display: block;
    position: relative;

    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.125;

    body.is-page & {
      text-align: center;
      padding-bottom: 1.5rem;
      margin-top: 0;
      margin-bottom: 0;

      border-bottom: solid 0.0625rem var(--color-border);
    }

    body.is-wide & {
      margin-top: 1.25rem;
      margin-bottom: 2.25rem;
      text-align: center;
      font-size: 3rem;
      line-height: 1;
      max-width: var(--width-site);

      @media screen and (max-width: 767px) {
        margin-top: 0.75rem;
        margin-bottom: 1.75rem;
        font-size: 2.25rem;
        line-height: 1.125;
      }

      @media screen and (max-width: 479px) {
        font-size: 1.875rem;
      }
    }

    @media screen and (max-width: 767px) {
      font-size: 2rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 1.75rem;
    }
  }

  .entry-header__excerpt {
    display: block;
    position: relative;

    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;

    p {
      max-width: 32rem;
    }

    &::after {
      @include mixins.entry-border;
    }

    @media screen and (max-width: 767px) {
      font-size: 0.875rem;
    }
  }

  .entry-header__lead {
    display: block;
    position: relative;

    margin-bottom: 1.5rem;
  }

  .entry-header__reactions {
    position: relative;
    margin-top: 1.5rem;
    user-select: none;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 1rem;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    }

    &::after {
      @include mixins.entry-border(0.5rem);
    }
  }
}
