@use '../config/mixins' as mixins;

.entry-inpost {
  display: block;

  width: 100%;
  padding: 0.5rem 2rem 2.25rem;

  body.is-cards & {
    padding: 2rem;
    background-color: var(--color-light);
    border-radius: var(--radius-frame);
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 767px) {
    padding: 1rem;
  }

  & > * {
    width: 100%;
    max-width: var(--width-content);

    margin: 0 auto 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
