.logo {
  display: flex;
  align-items: center;
  position: relative;

  height: 2.25rem;
  padding: 0 0.375rem;
  margin: 0 -0.375rem;

  font-family: var(--font-regular);
  font-size: 1.25rem;
  font-weight: 450;
  line-height: 1.25;
  letter-spacing: 0.025rem;

  color: var(--color-addition);
  border-radius: var(--radius-frame);
  transition: color 0.25s;

  @media screen and (max-width: 479px) {
    font-size: 1.125rem;
  }

  span {
    display: flex;
    position: relative;
    font-size: 0.875rem;
    margin-left: 0.5rem;
    transform: translateY(0.025rem);

    color: var(--color-light);

    &::after {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;
      width: 1.625rem;
      height: 1.625rem;

      border: solid 0.09375rem;
      border-radius: 0.25rem;

      transform: translate(-50%, -50%);

      @media screen and (max-width: 479px) {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    @media screen and (max-width: 479px) {
      font-size: 0.8125rem;
    }
  }

  &:focus-visible span::after {
    border: 0;
  }

  &:hover {
    color: var(--color-light);
  }
}