.menu {
  display: block;
  position: relative;

  .menu__list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;

    font-size: 0.875rem;
    font-weight: 500;
    font-family: var(--font-regular);
    line-height: 1.25;
  }

  .menu__item {
    display: inline-flex;
    color: var(--color-addition);

    .menu__item-link {
      display: flex;
      align-items: center;
      height: 2.25rem;
      margin: 0;
      padding: 0 0.5rem;

      border-radius: var(--radius-frame);
      transition: color 0.375s;
    }

    &.menu__item--current {
      color: var(--color-light);
    }

    &:hover {
      color: var(--color-light);
    }
  }
}
