.menu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0.25rem;

  font-size: 0.875rem;
  font-weight: 500;
  font-family: var(--font-regular);
  line-height: 1.25;

  .menu__item {
    display: inline-flex;
    align-items: center;
    height: 2.25rem;
    margin: 0;
    padding: 0 0.75rem;

    color: var(--color-primary);

    border-radius: var(--radius-frame);
    transition: color 0.375s;

    &:hover {
      color: var(--color-light);
    }
  }
}
