.menu {
  display: block;
  position: relative;
  width: 100%;
  max-width: 100%;

  .menu__list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;

    font-size: 0.9375rem;
    font-weight: 500;
    font-family: var(--font-regular);
    line-height: 1.25;

    @media screen and (max-width: 767px) {
      gap: 0.25rem;
      font-size: 0.875rem;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .menu__item {
    display: inline-flex;
    color: var(--color-addition);
    flex-shrink: 0;

    .menu__item-link {
      display: flex;
      align-items: center;
      height: 2.25rem;
      margin: 0;
      padding: 0 0.5rem;

      border-radius: var(--radius-frame);
      transition: color 0.375s;
      white-space: nowrap;

      @media screen and (max-width: 479px) {
        padding: 0 0.3125rem;
      }
    }

    &.menu__item--current {
      color: var(--color-light);
    }

    &:hover {
      color: var(--color-light);
    }
  }
}
